:root{
    --color-background : #EFEFEF;
    --color-primary : #FFFFFF;
    --color-secundary: #74daf7;
    --color-ternary: #d8ed71;
    --color-quaternary: #AEF7AE;

    --font-primary: sans-serif;
}